
 #game {
     background-color: white;
 }

.choice-container {
    display:flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(red, green, blue);
    background-color: rosybrown;

}
.choice-prefix {
    padding: 1.5rem 2.5rem; 
    background-color: slateblue;
    color: wheat;
    height: 10px;
    width: 5px;
    display: flex;
    justify-content: right;
    align-content: flex-end;
    margin-right: 0px;
    

    
}
.choice-text {
    padding: 1.5r 2.5rem;
    display: flex;
    justify-content:center;
    align-content: center;
    background-color:white;
    margin-left: 0px;
    width: 100%;
   
    
   

}
.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(red, green, blue, alpha);
    transform: translateY(-0.1rem);
    transition: cubic-bezier(1, 0, 0, 1);
    
}
h2 {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.correct {
    background-color: green;
}
.incorrect {
    background-color: red;
}
#Score-form {
    display: none;
}
#score-list {
    justify-content: center;
    align-content: center;
    margin-left: 560px;
} 
.high-scores {
    display: flex;
    justify-content: center;
    align-content: center;
}
/* Hud section */
#hud {
    display: flex;
    justify-content: center;
    align-content: center; 
}
.hud-prefix {
    text-align: center;
    margin-right: 0px;
    margin-top: 40px;
    
    
}
.hud-main-text {
    text-align: center;

}
#progressBar {
    width: 20rem;
    height: 2rem;
    border: 0.3rem solid cornflowerblue;
 
    
}
#progressBarFull {
    height: 2.1rem ;
    background-color: dodgerblue;
    width: 0%;

}
#progressText.hud-prefix{
    margin-top: 10px;
}