*{
    margin:0;
    padding: 0;
    background-color: silver;

}


.choice-container {
    display:flex;
    margin-bottom: 0.1px;
    width: 100%;
    font-size: 20px;
    border: 1px solid bisque;
    background-color: white;
    box-shadow: 0 0.2rem 1.2rem o rgba(red, green, blue, alpha);
    height: 10vh;
    width: 95%;
    background-color: wheat;
    cursor: pointer;
    

    
}
.choice-prefix {
    padding: 10px; 
    background-color:blue;
    color: wheat;
    border: 1px;
    border-radius: 3px;
    width: 12px;
    height: 12px;
    margin: right 10px;;

    
}
.choice-text {
    padding: 0;
    display: flex;
    justify-content: left;
    align-content: center;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: royalblue;
    margin: 100px;
    margin-top: 20px;
    width: 200px;
    font-size: 12px;
   

}
.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(red, green, blue, alpha);
    transform: translateY(-0.1rem);
    transition: cubic-bezier(1, 0, 0, 1);
    
}